* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

/* Content */

main {
  width: 100vw;
  height: 100vh;
  background-color: #FF3CAC;
  background-image: linear-gradient(315deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

#avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.avatar-img img {
  margin-top: 5rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 2px solid blue;
}

#avatar a {
  font-family: 'Inter';
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  color: #FFFFFF;
}

#menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5.5rem;
}

.button {
  width: 19.5rem;
  height: 3.5rem;
  border: 1px solid #FFFFFF;
  background-color: rgba(255, 255, 255, 0.09);
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: 'Inter';
  font-weight: 500;
  font-size: 1rem;
  color: #FFFFFF;
  margin-bottom: 1rem;
  transition: .3s;
}

.button:hover {
  scale: 1.02;
}

footer {
  font-family: 'Inter';
  font-weight: 400;
  font-size: 1rem;
  color: #FFFFFF;
  margin-top: 7rem;
  text-align: center;
}